<!-- <ng-container *ngFor="let item of people" > 
    <div *ngIf="item.age>22" Class="centerDiv">
       <span class="text-danger"> Name : {{item.name}}</span>
        <span class="text-primary">Age : {{item.age}}</span>
        <br>

    </div>
   
</ng-container>
<button class="btn btn-primary" (click)="addNew()">Add New</button> -->
<ng-container *ngFor="let item of people" > 
    <div *ngIf="item.age > 22 ; else elsepart " class="centerDiv">
       <span > Name : {{item.name}}</span>
        <span >Age : {{item.age}}</span>
        <hr>
    </div>
    <ng-template #elsepart>
        <div class="centerDiv text-primary">
            <span > Name : {{item.name}}</span>
             <span >Age : {{item.age}}</span>
             <hr>
         </div>
    </ng-template>
</ng-container>
